@import "../omarchy/current/theme/waybar.css";

/* --- Global-Settings ---*/

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  font-weight: bold;
  min-height: 0px;
    }

  /* --- Waybar ---*/
  window#waybar {
  background: linear-gradient(180deg, @background 75%, @foreground);
  transition-duration: .5s;
  border-radius: 24px;
}

/* --- Tooltip ---*/
tooltip {
  opacity: 1;

 }

 /* --- Sub-Groups ---*/

#mpris{
  margin: 0px;
  padding: 1px 0 1px;
  padding-left: 2px;
}

 /* --- Modules ---*/

.modules-left {
  color: @foreground;
  margin: 0px;
  border-radius: 16px;
  opacity: 0.95;
  border: 2px solid alpha(@foreground, 0.8);
  background-color: alpha(@background, 0.9);
  margin-right: 4px;
 }

 .modules-center {
  color: @foreground;
  margin: 0px;
  border-radius: 16px;
  opacity: 0.95;
  border: 2px solid alpha(@foreground, 0.8);
  background-color: alpha(@background, 0.9);
  margin-left: 4px;
 }

.modules-right {
  color: @foreground;
  margin: 0px;
  border-radius: 16px;
  opacity: 0.95;
  border: 2px solid alpha(@foreground, 0.8);
  background-color: alpha(@background, 0.9);
}


/* --- Workspaces --- */
#workspaces {
  
  border-radius: 24px;
  background-color: alpha(@background, 1);
  opacity: 0.95;
  margin: 0px;
  padding: 1px 1px 1px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 1px 2px;
  border-radius: 24px;
  background-color: alpha(@foreground, 0.5);
  color: @background; 
  transition: all 0.3s ease-in-out;
  opacity: 0.95;
}

#workspaces button.active {
  color: @background;
  background-color: alpha(@foreground, 0.9);
  border-radius: 24px;
  opacity: 1.0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
  background-color: alpha(@foreground, 0.4);
  border: 1px groove alpha(@foreground, 0.9);
  color: @foreground;
  opacity: 0.45;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @foreground;
  border-radius: 24px;
  opacity: 0.9;
  background: linear-gradient(180deg, @background 75%, @foreground);
}

#workspaces button.empty.active {
  background-color: @foreground;
  color: @background;
}

#custom-omarchy {
  padding: 1px 0 1px;
  
}

/* --- General Modules --- */

#tray,
#tray-expander,
#mpris,
#cpu,
#clock,
#battery,
#network,
#backlight,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-weather,
#custom-update,
#idle_inhibitor,
#custom-screenrecording-indicator,
#custom-updatespacman {
  min-width: 14px;
  margin: 0 7.5px;
}

/* --- Hover right module  --- */
#clock:hover,
#tray:hover,
#custom-expand-icon:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#bluetooth:hover,
#custom-omarchy:hover,
#custom-weather:hover,
#custom-update:hover,
#idle_inhibitor:hover,
#custom-screenrecording-indicator,
#custom-updatespacman:hover,
#network:hover,
#pulseaudio:hover {
  color: @foreground;
  border-radius: 2px;
  opacity: 0.9;
  background: linear-gradient(180deg, @background 75%, @foreground);
}


/* Specific Module */

#custom-update, #idle_inhibitor, #custom-update, #custom-screenrecording-indicator, #custom-updatespacman {
  color: @background;
  background-color: alpha(@foreground, 0.9);
  border-radius: 24px;
  opacity: 1.0;
  transition: all 0.3s ease-in-out;
  padding: 0px 3px;
  margin: 2px 3px;
}


#custom-omarchy {
 margin-left: 2px;
 margin-right: 10px;
}

#tray-expander, #bluetooth {
  padding: 0px;
  margin-right: 0px;
  margin-left: 6px;
  background-color: @background;
  color: @foreground;
  border-radius: 24px;
}

#tray {
  background-color: @background;
  margin: 0 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @transparent;
}

.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background-color: alpha(@background, 1);
 opacity: 0.95;
 font-size: 10px;
 border: 2px solid alpha(@foreground, 0.8);
 border-radius: 24px;
 box-shadow: 1px 1px 3px 1px #131313;
 font-size: 12px;
 
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

#mpris {
color: @foreground;
padding-top: 2px;
margin-left: 8px;
margin-right: 0px;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* Specific animation Module */

#custom-screenrecording-indicator {
    font-size: 12px;
    padding: 0px;
    margin: 2px;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}



@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}

#idle_inhibitor {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
   margin-left: 1px;
   margin-right: 1px;
 }

#idle_inhibitor.activated {
  margin-right: 1px;
  color: #178b76;
  animation-name: blink-inhibitor;
  animation-duration: 1s;
}
