* {
    border: none;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 10px;
    
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(4, 4, 4, 0.8);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
    transition: all 150ms ease-in-out;
}

#workspaces button {
    transition: all 150ms ease-in-out;
    padding: 1px 0px;
    background:rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid transparent;
    border-radius: 999px;
    margin: 0 2px;
    margin-top: 0;
}

#workspaces button.active {
    border: 1px solid alpha(#121212, 0.4);
    background-color:alpha(#ffffff, 0.8);
    color:#121212;
    transition: all 150ms ease-in-out;
    min-width: 35px;
    border-radius: 8px;
}

#clock {
    font-weight: 800;
    background:alpha(#121212, 0.4);
    border-radius: 8px;
    padding: 0px 5px;
}

#pulseaudio {
    font-weight: 800;
    background:alpha(#121212, 0.4);
    border-radius: 8px;
    padding: 0px 5px;
    margin: 0 3px;
}

#tray {
    font-weight: 800;
    background:alpha(#121212, 0.4);
    border-radius: 99px;
    padding: 0px 5px;
    margin: 0 4px;
}

#custom-media {
    margin: 0 2px;
    padding: 2px 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: aliceblue; /* aliceblue */
    font-weight: bold;
}

#network {
    font-weight: 800;
    background:alpha(#121212, 0.4);
    border-radius: 8px;
    padding: 0px 5px;
    margin: 0 3px;
}

#mpris {
    font-weight: 800;
    background:alpha(#121212, 0.4);
    border-radius: 8px;
    padding: 0px 5px;
    margin: 0 2px;
}

#custom-update,
#custom-reboot,
#custom-power {
    font-weight: 800;
    background:alpha(#121212, 0.4);
    border-radius: 8px;
    padding: 0px 5px;
    margin: 0 2px;
}

#group-main,
#group_main,
#main {
    background-color: alpha(#121212, 0.4);
    border-radius: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 8px;
	padding-left: 8px;
	margin: 0 0 0 5px;
}
