:root {
--color00: #1A1B26;
--color01: #1A1B26;
--color02: #1A1B26;
--color03: #ABAFCF;
--color04: #e5e6f1;
--color05: #e5e6f1;
--color06: #e5e6f1;
--color07: #e5e6f1;
--color08: #977DC8;
--color09: #8678B1;
--color0A: #b9b1d4;
--color0B: #8E92AE;
--color0C: #adb0c7;
--color0D: #9d9db9;
--color0E: #9C90C6;
--color0F: #cabce5;
}
