@import "../omarchy/current/theme/waybar.css";

/* --- Global-Settings ---*/

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  font-weight: bold;
  min-height: 0px;
  }

  /* --- Waybar ---*/
  window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty #window {
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: transparent;
  padding: 0;
  margin: 0;
}
#waybar.empty .modules-center {
  opacity: 0;
}

/* --- Tooltip ---*/
tooltip {
  opacity: 1;

 }

 /* --- Sub-Groups ---*/

#left1{
  border-radius: 26px;
  border: 1px solid alpha(@foreground, 0.3);
  margin: 0px 8px 3px 8px;
  background-color: @background;
  box-shadow: 1px 1px 3px 1px #101010;
  transition-property: background-color;
  transition-duration: .5s;
}

#left2{
  border-radius: 26px;
  border: 1px solid alpha(@foreground, 0.3);
  margin: 0px 8px 3px 8px;
  background-color: @background;
  box-shadow: 1px 1px 3px 1px #101010;
  transition-property: background-color;
  transition-duration: .5s;
}

#left3{

}

 /* --- Modules ---*/

.modules-center {
  border-radius: 26px;
  border: 1px solid alpha(@foreground, 0.3);
  margin: 0px 8px 3px 8px;
  background-color: @background;
  box-shadow: 1px 1px 3px 1px #101010;
  transition-property: background-color;
  transition-duration: .5s;
 }

.modules-right {
   border-radius: 26px;
  border: 1px solid alpha(@foreground, 0.3);
  margin: 0px 8px 3px 8px;
  background-color: @background;
  box-shadow: 1px 1px 3px 1px #101010;
  transition-property: background-color;
  transition-duration: .5s;
}


/* --- Workspaces --- */
#workspaces {
 
  border-radius: 24px;
  background-color: alpha(@background, 1);
  opacity: 0.95;
  margin: 0px;
  padding: 1px 1px 1px;
}

#workspaces button {
  padding: 0px 10px;
  margin: 2px 2px;
  border-radius: 24px;
  background-color: alpha(@foreground, 0.5);
  color: @background; 
  transition: all 0.15s ease-in-out;
  opacity: 0.95;
}

#workspaces button.active {
  color: @background;
  padding: 0 20px;
  background-color: alpha(@foreground, 0.9);
  border-radius: 24px;
  opacity: 1.0;
  transition: all 0.15s ease-in-out;
}

#workspaces button.empty {
  background-color: alpha(@foreground, 0.4);
  color: @foreground;
  opacity: 0.45;
  border-radius: 24px;
  transition: all 0.15s ease-in-out;
}

#workspaces button.empty.active {
  background-color: alpha(@foreground, 0.9);
  color: @background;
  opacity: 1;

}


/* --- General Modules --- */

#tray,
#window,
#group-tray-expander,
#mpris,
#cpu,
#clock,
#battery,
#network,
#memory,
#backlight,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-weather,
#custom-update,
#idle_inhibitor,
#custom-screenrecording-indicator,
#custom-updatespacman {
  min-width: 14px;
  margin: 1px 3px 1px 3px;
padding: 0 3px;
}

/* Specific Module */

#group-tray-expander {
  border-radius: 24px;
  background-color: transparent;
  color: @foreground;
}


#tray {
    background-color: transparent;
    border-radius: 24px;
    margin: 0 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @transparent;
}

.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background: @background;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
 box-shadow: 1px 1px 3px 1px #131313;
 font-size: 12px;
 
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}




/* Specific animation Module */
#mpris {
  padding: 0 10px;
  border-radius: 26px;
  border: 2px solid alpha(@foreground, 0.3);
  margin: 0px 8px 3px 8px;
  background-color: @background;
  box-shadow: 1px 1px 3px 1px #101010;
  transition-property: background-color;
  transition-duration: .5s;
  animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}



@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}

#idle_inhibitor {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @foreground;
 }

#idle_inhibitor.activated {
  color: #178b76;
  animation-name: blink-inhibitor;
  animation-duration: 1s;
}

#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
