@import "../omarchy/current/theme/waybar.css";

* {
  color: @foreground;
  border: none;
  border-radius: 25;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 7px;
}

.modules-right {
  margin-right: 7px;
}

window#waybar {
  background-color: @background;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty #window {
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: transparent;
  padding: 0;
  margin: 0;
}
#waybar.empty .modules-center {
  opacity: 0;
}

#workspaces {
    transition: all 150ms ease-in-out;
    background:alpha(@foreground, 0.1);
    padding: 0px 0px;
    margin: 3.5 2px;
}

#workspaces button {
    transition: all 90ms ease-in;
    padding: 1px 0px;
    background:alpha(@foreground, 0.0);
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 1 1px;
}

#workspaces button.active {
    border: 1px solid alpha(#121212, 0.1);
    background:alpha(#121212, 0.4);
    color:#121212;
    transition: all 90ms ease-in-out;
    min-width: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
 
}

#workspaces button.empty{
 opacity: 0.6;
}

#workspaces button.empty.active {
   border: 1px solid alpha(#121212, 0.1);
    background:alpha(#121212, 0.4);
    color:#121212;
    transition: all 90ms ease-in-out;
    min-width: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#cpu,
#battery,
#pulseaudio,
#custom-power,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  background:alpha(@foreground, 0.0);
  border-radius: 16px;
  padding: 0px 5px;
  margin: 3.5 2px;
  margin-right: 1px;
}

#bluetooth {
  margin-right: 6px;
}

#idle_inhibitor {
  margin-right: 9px;
}

#network {
  margin-right: 9px;
}

#custom-expand-icon {
  margin-right: 10px;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
}
tooltip label {
  color: white;
}


#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #f13333;
}

#custom-lock,
#clock,
#mpris {
    font-weight: 800;
    background:alpha(@foreground, 0.1);
    border-radius: 16px;
    padding: 0px 5px;
    margin: 3.5 3.5px;
}

#custom-omarchy{
  border-radius: 99px;
  margin:3px;
  padding-right:5px;
  padding-left: 1px;

}

#window {
    font-weight: 800;
    background:alpha(@foreground, 0.1);
    border-radius: 16px;
    padding: 0px 5px;
    margin: 3.5 2px;
}

#group-ctl,
#group_ctl,
#ctl {
    font-weight: 800;
    background:alpha(@foreground, 0.1);
    border-radius: 16px;
    padding: 0px 5px;
    margin: 3.5 2px;
}