/**
* @name base16-discord.extras
* @author @bypass_
* @version 0.1.6
* @website https://github.com/imbypass/base16-Discord
* @description CSS Icon Recolors for base16-discord. (This tends to cause excess resource usage!)
**/

/*--- Voice Chat Action Icon Recolor ---*/
path[fill^="rgb(88,101,242)"],
path[stroke^="rgb(88,101,242)"] {
    fill: var(--base05) !important;
    stroke: var(--base05) !important;
}
.lottieIcon__5eb9b.lottieIconColors__5eb9b.buttonIcon_e131a9 {
    --__lottieIconColor: var(--base05) !important;
}
div[class^="actionButtons"] [class^="button"][class*="buttonColor_"],
div[class^="actionButtons"] [class^="button"] [class*="buttonColor_"] {
    background-color: var(--base02);
}
/* --- Checkbox Recolor (OFF) --- */
.container__87bf1 {
    background-color: var(--base03) !important;
}
/* --- Checkbox Recolor (ON) --- */
.checked__87bf1 {
    background-color: var(--base0B) !important;
}
path[fill^="var(--brand-500)"] {
    fill: var(--base0B) !important;
}
/* --- Secure Lock Icon Recolor --- */
.lockIcon__2666b {
    display: none;
}
/*--- Status Icon Recolor (DO NOT DISTURB) ---*/
svg[fill^="#f23f43"],
rect[fill^="#f23f43"] {
    fill: var(--status-danger) !important;
}
/*--- Status Icon Recolor (IDLE) ---*/
svg[fill^="#f0b232"],
rect[fill^="#f0b232"] {
    fill: var(--status-warning) !important;
}
/*--- Status Icon Recolor (ONLINE) ---*/
path[fill^="#23a55a"],
svg[fill^="#23a55a"],
rect[fill^="#23a55a"] {
    fill: var(--status-positive) !important;
}
/*--- Status Icon Recolor (OFFLINE) ---*/
svg[fill^="#80848e"],
rect[fill^="#80848e"] {
    fill: var(--base03) !important;
}
/*--- Default Color Swap ---*/
path[fill^="currentColor"],
svg[fill^="currentColor"],
rect[fill^="currentColor"] {
    fill: var(--base05) !important;
}
/*--- Voice Chat Icon Badge Recolor ---*/
div[class^="iconBadge"] path[d^="M12 3a1 1 0 0 0-1-1h-.06"],
div[class^="iconBadge"] path[d^="M15.16 16.51c-.57.28"] {
    fill: var(--base05) !important;
}

/*--- Add Friend Icon Recolor ---*/
path[d^="M19 14a1 1 0 0 1 1 1v3h3a1"],
path[d^="M16.83 12.93c.26-.27.26-.75-.08-.92A9.5"] {
    fill: var(--base02) !important;
}
.banner_fb7f94 {
    path[d^="M19 14a1 1 0 0 1 1 1v3h3a1"],
    path[d^="M16.83 12.93c.26-.27.26-.75-.08-.92A9.5"] {
        fill: var(--base05) !important;
    }
}
/*--- Nitro Icon Recolor ---*/
.premiumLabel_e681d1 svg path,
svg.guildBoostBadge__5dba5 path {
    fill: var(--base0E) !important;
}
path[d^="M4 0L0 4V8L4 12L8"],
path[d^="M2 4.83V7.17L4 9.17L6"] {
    fill: var(--base0E) !important;
}
/*--- Scheduled Event Icon Recolor ---*/
path[d^="M2 10a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v9a3 3 0 0 1-3"],
path[d^="M7 1a1 1 0 0 1 1 1v.75c0 .14.11.25.25.25h7.5c.14 0"] {
    fill: var(--base05) !important;
}
/*--- Voice Channel Streaming Icon Recolor ---*/
path[d^="M5 2a3 3 0 0 0-3 3v8a3 3 0 0 0 3"] {
    fill: var(--base05);
}
/*--- Voice Channel Camera Icon Recolor ---*/
path[d^="M4 4a3 3 0 0 0-3 3v10a3 3"] {
    fill: var(--base05) !important;
}

/*--- Selected Checkmark Icon Recolor ---*/
path[d^="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0"] {
    fill: var(--base03) !important;
}

/*--- Current User Connected Voice Chat Icon Badge Recolor ---*/
.isCurrentUserConnected__650eb svg path[d^="M12 3a1 1 0 0 0-1-1h-.06"],
.isCurrentUserConnected__650eb svg path[d^="M15.16 16.51c-.57.28"],
.isCurrentUserConnected__650eb svg path[d^="M5 2a3 3 0 0 0-3 3v8a3 3"] {
    fill: var(--base02) !important;
}
